body {
    margin: 0%;

}

header {
    text-align: center;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(178, 178, 245);
    color: antiquewhite;
    padding: 8px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.class {
    text-align: center;
    text-align: justify;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: auto;
    max-width: 80%;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 40px;

}

h1,
h4 {
    margin: 0%;
}

#id {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.end {
    background-color: rgb(178, 178, 245);
    color: rgb(30, 30, 30);
    display: flex;
    justify-content: gap: 50px;
    align-items: flex-start;
    gap: 20px;
    height: 60px;
}

.form {
    transform: scale(1.2);
    width: 500px;
    margin: auto;
    margin-bottom: 100px;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    font-size: 18px;
}

textarea {
    height: 200px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    justify-content: center;
}

body {
    background-color: antiquewhite;
    margin: 0%;
}

.box1 {
    display: flex;
    align-items: flex-start;
    display: 20px;
    flex-direction: row;

}

.box2 {
    display: flex;
    align-items: flex-end;
    display: 20px;
    flex-direction: row-reverse;
}

body {
    margin: 0;
}

a {
    background-color: hsl(226, 55, 24);
}

.class {
    text-align: center;
    text-align: justify;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: auto;
    max-width: 80%;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
}

#album {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

#footer {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    flex-direction: flexend;
    text-align: center;
}

.left {
    display: flex;
    gap: 15px;
}

.quote {
    font-style: italic;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: auto;
    max-width: 80%;
    margin-bottom: 30px;
}

.author {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-items: end;
    margin: auto;
    margin-bottom: 10px;
    max-width: 80%;
}

.button1 {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button1:hover {
    box-shadow: 0px 0px 10px 2px rgb(177, 172, 166);
}

.button2 {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button2:hover {
    box-shadow: 0px 0px 10px 2px hsl(359, 87%, 9%);
}

.button3 {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button3:hover {
    box-shadow: 0px 0px 10px 2px rgb(51, 53, 120);
}

.text {
    text-align: center;
    text-align: justify;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: auto;
    max-width: 80%;
    padding: 30px;
}

.photos {
    justify-content: center;
    display: flex;
    margin-bottom: 60px;

}

.press {
    justify-content: center;
    display: flex;
    margin-bottom: 60px;

}