body {
    margin: 0%;
    overflow-x: hidden;

}

.header1 {
    text-align: center;
    font-size: 300%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(219, 195, 165);
    color: antiquewhite;
    padding: 2%;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
}

.header2 {
    text-align: center;
    font-size: 300%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(211, 144, 135);
    color: antiquewhite;
    padding: 2%;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;


}

.header3 {
    text-align: center;
    font-size: 300%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(86, 99, 220);
    color: antiquewhite;
    padding: 2%;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: no-wrap;

}

.class {
    text-align: center;
    text-align: justify;
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: auto;
    max-width: 90%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 2%;

}

h1,
h4 {
    margin: 0%;
}

.album {
    font-size: 250%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    justify-content: center;
    margin-bottom: 10%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.end1 {
    background-color: rgb(219, 195, 165);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 150%;
}

.end2 {
    background-color: rgb(211, 144, 135);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 150%;
}

.end3 {
    background-color: rgb(86, 99, 220);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 150%;
}

body {
    background-color: antiquewhite;
    margin: 0%;
}

.box1 {
    display: flex;
    align-items: center;
    display: 100%;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 5%;

}

.box2 {
    display: flex;
    align-items: center;
    display: 100%;
    flex-direction: row-reverse;
    margin-right: 5%;
    margin-bottom: 5%;
}

body {
    margin: 0;
}

a {
    background-color: hsl(226, 55, 24);
}


.background1 {
    background-color: rgb(219, 195, 165);
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.background2 {
    background-color: rgb(211, 144, 135);
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.background3 {
    background-color: rgb(86, 99, 220);
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.background4 {
    background-color: rgb(186, 99, 87);
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.background5 {
    background-color: rgb(153, 71, 61);
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.background6 {
    background-color: rgb(59, 70, 175);
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.background7 {
    background-color: rgb(40, 51, 146);
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}


#album {
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 20%;
}

#footer {
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    align-items: flex-end;
}

.left {
    display: flex;
    gap: 15px;
}

.quote {
    font-style: italic;
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin: auto;
    max-width: 80%;
    margin-bottom: 6%;
}

.author {
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-items: end;
    margin: auto;
    margin-bottom: 6%;
    max-width: 80%;
}

.button1 {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button1:hover {
    box-shadow: 0px 0px 20px rgb(177, 172, 166);
}

.button2 {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button2:hover {
    box-shadow: 0px 0px 20px hsl(359, 87%, 9%);
}

.button3 {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.button3:hover {
    box-shadow: 0px 0px 20px rgb(51, 53, 120);
}

.text {
    text-align: center;
    text-align: justify;
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    margin: auto;
    max-width: 80%;
    padding: 6%;
}

.photos {
    justify-content: center;
    display: flex;
    margin-bottom: 5%;

}

.press {
    justify-content: center;
    display: flex;
    margin-bottom: 5%;

}

.band1 {
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: bold;
    text-align: flex-start;
    align-content: flex-start;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    margin-left: 10%;
}

.band2 {
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: bold;
    /* text-align: flex-end;
    align-content: flex-end;
    justify-content: center; */
    justify-content: flex-end;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    margin-right: 10%;
}

.nav {
    display: flex;
    gap: auto;
    width: 78%;
}

.nav1 {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-left: 5%;
}

.sound {
    display: flex;
    justify-content: center;
    margin: 5% 5% 5% 5%;
}